#backImage{
    width: 100%;
    height: 650px;
    background-position: top right;
    min-height: 400px;
    background-image: url("https://d18zdz9g6n5za7.cloudfront.net/about/masthead.jpg");
}
.ban{
    width: 42%;
    height: 40%;
    position: relative;
    top: 35%;
    left: 10%;
    align-items: center;
    /* border: 1px solid black; */
}
.ban1{
    width: 100%;
    height: 15%;
    font-size: 18px;
    font-weight: bold;
    color:#00eaff;
    /* border: 1px solid red; */
}
.ban2{
    width: 100%;
    height: 55%;
    font-size: 46px;
    line-height: 60px;
    color: white;
    /* border: 1px solid red; */
}
#cont{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}
.subcont{
    width: 60%;
    height: 45%;
    margin: auto;
    /* border: 1px solid black; */
}
.sub1{
    width: 100%;
    height: 50%;
    text-align: center;
    /* border: 1px solid black; */
    font-size: 20px;
}
.sub2{
    width: 100%;
    height: 50%;
    text-align: center;
    /* border: 1px solid black; */
    font-size: 19px;
}
.video{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://d18zdz9g6n5za7.cloudfront.net/about/video.jpg");
    /* border: 1px solid black; */
}
.video > a > span{  
    font-size: 100px;
    color: #16a5d1;
}
#cont2{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222533;
    color: white;
    /* border: 1px solid red; */
}
.subcont2{
    width: 70%;
    height: 65%;
    margin: auto;
    /* border: 1px solid black; */
}
.s2cont1{
    width: 80%;
    height: 25%;
    margin: auto;
    text-align: center;
    /* border: 1px solid black; */
    font-size: 20px;
    line-height: 50px;
}
.s2cont2{
    width: 80%;
    height: 15%;
    margin: auto;
    text-align: center;
    /* border: 1px solid black; */
    font-size: 19px;
    display: flex;
    align-items: center;
}
.s2cont3{
    width: 100%;
    height: 60%;
    text-align: center;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    align-items: center;
}
.s2cont3 > div > img{
    width: 25%;
}
.s2cont3 > div > p{
    font-size: 18px;
}
.gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: 1px solid grey; */
}
.littlebit{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sublittle{
    width: 60%;
    height: 65%;
    margin: auto;
    /* border: 1px solid black; */
}
.little1{
    width: 100%;
    height: 45%;
    text-align: center;
    border: 1px solid white;
    font-size: 50px;
    font-weight: normal;
    line-height: 50px;
}
.little2{
    width: 100%;
    height: 40%;
    text-align: center;
    /* border: 1px solid black; */
    font-size: 19px;
}
.little3{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.little3 > input{
    cursor: pointer;
}
.picturegrid{
    width: 100%;
    height: 720px;
    display: flex;
    /* border: 1px solid black; */
}
.picturegrid > div:nth-child(1){
    width: 50%;
    height: 100%;
    background-image: url("https://d18zdz9g6n5za7.cloudfront.net/about/bio-daniel.jpg");
    /* top: 70%; */
    display: flex;
    /* border: 1px solid aqua; */
}
.picturegrid > div:nth-child(2){
    width: 50%;
    height: 100%;
    display: flex;
    background-image: url("https://d18zdz9g6n5za7.cloudfront.net/about/bio-kelli.jpg");
    /* border: 1px solid aqua; */
}
.picturegrid > div:nth-child(1) > div{
    width: 60%;
    height: 20%;
    top: 70%;
    left: 25%;
    position: relative;
    text-align: center;
    background-color: white;
}
.picturegrid > div:nth-child(1) > div > p{
    width: 82%;
    margin: auto;
    line-height: 20px;
}
.picturegrid > div:nth-child(1) > div > a{
   line-height: 38px;
   color: rgb(79, 178, 231);
}
.picturegrid > div:nth-child(1) > div > a:hover{
   text-decoration: underline;
}
.picturegrid > div:nth-child(2) > div{
    width: 60%;
    height: 20%;
    top: 70%;
    left: 25%;
    position: relative;
    text-align: center;
    background-color: white;
}
.picturegrid > div:nth-child(2) > div > p{
    width: 82%;
    margin: auto;
    line-height: 20px;
}
.picturegrid > div:nth-child(2) > div > a{
   line-height: 38px;
   color: rgb(79, 178, 231);
}
.picturegrid > div:nth-child(2) > div > a:hover{
   text-decoration: underline;
}
.companyInfo{
    /* border: 1px solid green; */
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.companyInfo > div{
    width: 75%;
    height: 60%;          
    /* border: 1px solid green; */
}
.companyInfo > div > div:nth-child(1){
    width: 100%;
    height: 50%;   
    font-size: 12px;
    display: flex;      
    justify-content: center;
    align-items: center;
    color: grey;
    /* border: 1px solid green; */
}
.companyInfo > div > div:nth-child(2){
    width: 100%;
    height: 50%;   
    display: grid;
    grid-template-columns: repeat(5,1fr);      
    /* border: 1px solid green; */
}
.companyInfo > div > div:nth-child(2) > p:nth-child(1){
    width: 100%;
    height: 100%;
    font-size: 40px;
    margin-top: 5px;
    text-align: center;
}
.companyInfo > div > div:nth-child(2) > p:nth-child(2),p:nth-child(4){
    width: 100%;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin-top: 18px;
}
.companyInfo > div > div:nth-child(2) > p:nth-child(3),p:nth-child(5){
    width: 100%;
    height: 100%;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    margin-top: 5px;
    text-align: center;
}
.last{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #38a6cc ;
    /* border: 1px solid red; */
}
.last > p{
    font-size: 30px;
    color: white;
}
.last > button{
    font-size: 20px;
    color: white;
    background-color: black;
    width: 18%;
    height: 30%;
    border-radius: 10px;
}
