body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
#nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid saddlebrown; */
    border-bottom:1px solid rgb(236, 236, 236) ;
}
#nav > div:nth-child(1){
    width: 12%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* border: 1px solid red; */
}
#nav > div:nth-child(2){
    width: 55%;
    height: 70%;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
}
#nav > div:nth-child(3){
    width: 13%;
    height: 100%;
    line-height: px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
    display: flex;
    justify-content: end;
    align-items: center;
    border:1px solid rgb(236, 236, 236) ;
}
#nav > div:nth-child(1) > img{
    width: 90%;
}
a{
    text-decoration: none;
}
#nav > div:nth-child(2) > a{
    font-size: 12px;
    font-weight: 600;
    height: 100%;
    color: black;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav > div:nth-child(2) > a > span{
    color: #4296cb;
}
#nav > div:nth-child(2) > a:last-child{
    color:#4296cb;
}
#nav > div:nth-child(2) > a:hover{
    border-bottom: 3px solid #4296cb;
}
#nav > div:nth-child(3)>div>a{
    font-size: 12px;
    font-weight: 600;
    color: black;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    /* justify-content: center; */
}
#nav > div:nth-child(3)>div{
    width: 65%;
    /* border: 1px solid green; */
}
#nav > div:nth-child(3)>div>p{
    margin-bottom: 1px;
    font-size: 13px;
    /* text-align: center; */
    color: #4296cb;
}
#nav > div:nth-child(3)>div>a > span{
    color: #4296cb;
}
#nav > div:nth-child(3):hover{
    border-bottom: 3px solid #4296cb;
}
#nav > div:nth-child(4){
    width: 6%;
    height: 90%;
    /* border: 1px solid red; */
    display: flex;
}
#nav > div:nth-child(4)>span{
    width: 30%;
    display: flex;
    align-items: center;
    margin:30px auto 0px 15px;
    height: 70%;
    /* border: 1px solid blue; */
}
#nav > div:nth-child(4)>span:hover{
    border-bottom: 3px solid #4296cb;
    cursor: pointer;
}
#nav > div:nth-child(4)>a>span{
    width: 65%;
    display: flex;
    align-items: center;
    margin:30px auto 0px 15px;
    height: 70%;
    color: black;
    /* border: 1px solid blue; */
}
#nav > div:nth-child(4)>a>span:hover{
    cursor: pointer;
    border-bottom: 3px solid #4296cb;
}