#space{
    width: 100%;
    height: 250px;
    /* border: 1px solid red; */
}
#space > div:nth-child(1){
    width: 100%;
    height: 75%;
    display: flex;
    align-items:flex-end;
    /* border: 1px solid red; */
}
#space > div:nth-child(1) > p{
    font-size: 40px;
    margin-left: 10%;
    /* border: 1px solid blue; */
}
#space > div:nth-child(2){
    width: 20%;
    height: 25%;
    margin-left: 10%;
    display: flex;
    /* border: 1px solid greenyellow; */
}
#space > div:nth-child(2) >  div{
    width: 50%;
    /* border: 1px solid greenyellow; */
}
#cards-container{
    width: 100%;
    height: auto;
    background-color: rgb(246, 242, 242);
    border: 1px solid greenyellow;
}
#p-cards{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    /* border: 1px solid fuchsia */
}
#p-cards > div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    word-spacing: 1px;
    /* padding: 15px; */
}
#p-cards > div:hover{
    border: 2.5px solid #4f9fd4;
    cursor: pointer;
}
img{
    width: 100%;
    padding: 0;
}
#div2{
    width: 90%;
    height: 20%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
#div2 > button{
    width: 50%;
    height: 45%;
    margin: auto;
}
#div1{
    width: 80%;
    margin: auto;
    /* border: 1px solid gray; */
}
#div1 > p{
    color: #1869c4;
    font-size: 12px;
    line-height: 15px;
}
#div1 > h4{
    font-weight: normal;
    font-size: 14px;
    /* line-height: 15px; */
}
#div3{
    width: 50%;
    height: 100%;
    line-height: 5px;
    /* border: 1px solid green; */
}
#div3 > p{
    margin-top: 16px;
    font-weight: normal;
    font-size: 10.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: -2px;
}
button{
    justify-content: space-between;
    background-color: #4296cb;
    border: 0px;
    border-radius: 5px;
    color: white;
}