@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	box-sizing: border-box;
}

#signbox{
	width: 100%;
	height: 640px;
	margin-top: 100px;
	display: flex;
    justify-content: center;
	align-items: center;
	background-color: rgb(200, 197, 197);
	/* border: 1px solid red; */
}

.cont {
	background-color: rgb(240, 253, 255);
	border-radius: 15px;
	overflow: hidden;
	width: 450px;
	max-width: 180%;
	border: 1px solid  #4f9fd4;
}

.header {
	border: 1px solid  #4f9fd4;
	background-color: rgb(25, 21, 21);
	padding: 20px 110px;
	color: white;
}

.header h2 {
	margin: 0;
}

.form {
	color: white;
	padding: 15px 40px;	
	background-color:rgb(25, 21, 21);
}

.form-control {
	margin-bottom: 8px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 10px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 6px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 6px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: rgb(127, 182, 186);
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #eceaea;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: rgb(50, 236, 50);
	border: 2px solid rgba(25, 173, 203, 0.833);
	border-radius: 6px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 6px;
	margin-top: 20px;
	width: 100%;
}

.form button:hover{
	cursor: pointer;
	background-color: rgb(0, 255, 0);
}
#account{
	width: 100%;
	height: 10%;
	border-top: 1px solid #4f9fd4;
	margin-top: 30px;
	color: white;
	text-align: center;
	/* border: 1px solid red; */
}
#account > p > a{
	color: #4f9fd4;
}
#account > p > a:hover{
	text-decoration: underline;
}

