body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    /* position: relative; */
}
#banner{
    width: 100%;
    height: 560px;
    /* margin: auto; */
    /* margin-top: 98px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    background-image: url("	https://d18zdz9g6n5za7.cloudfront.net/workouts_programs/masthead-workouts.jpg");
}
.ban{
    width: 40%;
    height: 40%;
    position: relative;
    top: 35%;
    left: 12%;
    align-items: center;
    /* border: 1px solid black; */
}
.ban1{
    width: 100%;
    height: 14%;
    font-size: 15px;
    font-weight: bold;
    color:#1869c4;
    /* border: 1px solid red; */
}
.ban2{
    width: 100%;
    height: 26%;
    font-size: 45px;
    color: white;
    /* border: 1px solid red; */
}
.ban3{
    width: 100%;
    height: 20%;
    font-size: 15px;
    padding-top: 10px;
    word-spacing: 1px;
    color: white;
    line-height: 35px;
    /* border: 1px solid red; */
}
.width{
    width: 100%;
}
.sticky{
    width: 100%;
    height: 100px;
    background-color: white;
    /* border: 1px solid red; */
    position: sticky;
    top: 0;
    z-index: 100;
}
.sticky > img{
    width: 160px;
    height: 60px;
    margin: 30px 0 0 30px;
}
.banner{
    width: 100%;
    /* border: 1px solid black; */
    display: inline-block;
}
.cont-1{
    width: 100%;
    height: 600px;
    background-color: rgb(229, 237, 239);
    /* border: 1px solid black; */
}
.flex{
    width: 80%;
    margin: auto;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
}
.flex > p:nth-child(1){
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid black; */
}
.flex > .direction,div > a{
    font-size: 16px;
    /* border: 1px solid green; */
    color: #4f9fd4;
}
a{  
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
#grid{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,24.5%);
    grid-template-rows: 350px;
    justify-content: space-between;
    cursor: pointer;
    /* border: 1px solid black; */
}
#grid > div{
    background-color: white;
}
#grid > div:hover{
    border: 3px solid #4f9fd4;
}
#grid > div > img{
    width: 100%;   
    border-bottom: 0.5px solid rgb(240, 238, 238);        
}
#button{
    background: linear-gradient(to bottom right,#3a8d10 0%,#bfeb00 100%);
    border: 1px solid #fff;
    width: 3rem;
    height: 20px;
    margin-left: 120px;
    margin-top: -14px;
    border-radius: 10px;
    position: relative;
    color: white;
    display: block;
}
.direction{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.direction > div > p{
    font-size: 15px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#span{
    line-height: 30px;
    font-size: 14px;
    color: #4f9fd4;
    font-family: serif;
}
.direction > div:nth-child(1){
    width: 75%;
    height: auto;
    text-align: left;
    /* border: 1px solid grey; */
}
.direction > div:nth-child(2){
    width: 15%;
    height: auto;
    /* border: 1px solid grey; */
}
.direction > div:nth-child(2) > img{
    width: 100%;
}